.App {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.radial-progress {
  border: 1px solid blue;
  background-color: white;
}
